*.class
*.log

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# JetBrains
.idea

# Ignore Eclipse files
.project
.classpath
.prefs
.settings

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/

# System
.DS_Store

# Lagom original
ideatarget
.target
.tmpBin
.factorypath
logs
